h1{
	color: purple;
}
h2{
	text-align: center;
}
article{
	padding: 4px;
	margin-bottom: 5px;

	border: solid black 1px;
	background-color: #c3c3c3;

	width: 290px;
	height: auto;

	display: flex;
	flex-direction: column
}

section{
	display:flex;
	flex-direction: column;
	align-items: center;
}
